.register {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(29, 26, 47, 0.5);
  &__close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }

  &__card {
    position: relative;
    width: 552px;
    height: 688px;
    padding: 32px 64px;
    top: 13%;
    left: 35%;
    background: #ffffff;
    border-radius: 8px;

    h2 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #5c596d;
      margin-bottom: 24px;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;

      color: #5c596d;
    }
  }

  &__form {
    input,
    button {
      width: 100%;
      height: 48px;
      background-color: #f7f7f7;
      border-radius: 4px;
      padding: 8px 16px;
      margin-bottom: 12px;
      border: none;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #1d1a2f;

      &::placeholder {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #9692b0;
      }
    }
    button {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      color: #9692b0;

      &:hover {
        cursor: pointer;
        background-color: #1b5bf7;
        color: #ffffff;
        transition: 300ms;
      }
    }

    &__agree {
      margin-top: 24px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 23px;
        height: 23px;
        margin-left: 20px;
        border-radius: 4px;
        &::before {
          border: 2px solid #1b5bf7;
        }
      }

      p {
        width: 350px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #5c596d;
      }
      a {
        color: #1b5bf7;
      }
    }
  }

  &__socials {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;

      width: 200px;
      height: 48px;

      background-color: #f7f7f7;
      border-radius: 4px;
    }
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5c596d;
  }
  a {
    color: #1b5bf7;
  }
}
